@font-face {
    font-family: RobotoSlab-Regular;
    src: url('/static/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: RobotoSlab-Bold;
    src: url('/static/fonts/RobotoSlab-Bold.ttf')
}

@font-face {
    font-family: Roboto-Regular;
    src: url('/static/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('/static/fonts/Roboto-Bold.ttf')
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    height: 100%;
    text-align: center;
    background-image: radial-gradient(#ffffff, #ffffff 32%, #e7e7e7);
    font-family: 'RobotoSlab-Regular', Fallback, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #666666;
    font-size: 16px;
}

.container {
    height: 100%;
}

.baserow {
    display: block;
    padding-top: 56px;
    height: 100%;
    min-height: 100%;
}

.font-light {
    color: white;
}

.font-dark {
    color: #666666;
}

.reversed {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.card-1-static {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2-static {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3-static {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4-static {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5-static {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.baseapp {
    min-height: 100%;
    min-width: 100%;
}


.login-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-card {
    height: 400px;
    text-align: center;
    padding: 30px;
}

.mission-card {
    height: 200px;
    text-align: center;
    padding: 30px;
    background-color: #699b80;
    margin-bottom: 30px;
}

.mission-progress {
    height: 5px !important;
    border-radius: 0;
}

.mission-progress-bar {
    background-color: #375043;
}

.missions-header-bar {
    padding-top: 60px;
    padding-bottom: 40px;
}


.item-panel {
    padding: 30px;
    margin-top: 60px;
    background: white;
}


/* Radio button */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.radiomark {
    position: absolute;
    top: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: -35px;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radiomark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radiomark {
    background-color: #699b80;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiomark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radiomark:after {
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    margin-top: 4px;
    margin-left: -35px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #699b80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.radio-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Feedback */
.feedback-panel {
    position: absolute;
    z-index: 100;
    left: calc(50% - 200px);
    top: 30%;
    width: 400px;
    height: 400px;
    background: white !important;
}

.shadow {
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
}
