@import "cards";
@import "variables";
$card-margin: 15px;
$icon-part-width: 115px;


.achievements-row {
  margin: 0 -#{15px + $card-margin} !important;
}

.achievement-card {
  @extend .card-1-static;

  margin: 30px $card-margin;
  height: 140px;
}

.achievement-card-icon {
  vertical-align: top;
  display: inline-block;
  padding-top: 25px;
  padding-left: 8px;
  width: $icon-part-width;
}

.achievement-card-info {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  line-height: 1;
  width: calc(100% - #{$icon-part-width});
}

.achievement-card-progress {
  line-height: 1.5;
  padding-right: 12px;
}

