
$dark-color: #32444C;
$green-color: #a9b852;
$blue-color: #5495b1;
$bright-blue-color: #5daac6;
$dark-blue-color: #48849d;
$grey-blue-color: #7fa0ad;
$light-blue-color: #bde1ef;
$bright-orange-color: #de9865;
$dark-bright-orange-color: #c97c45;
$orange-color: rgb(207, 188, 161);
$dark-orange-color: rgb(156, 140, 121);
$red-color: #e05e5e;
$black-blue-color: #32434c;
$grey-color: #828282;

.color-white {
  color: white;
}

.color-grey {
  color: $grey-color;
}

.color-red {
  color: $red-color;
}

.color-blue {
  color: $blue-color;
}

.color-light-blue {
  color: $light-blue-color;
}

.color-dark {
  color: $dark-color;
}

.color-green {
  color: $green-color;
}

.color-orange {
  color: $orange-color;
}

.dark-color-orange {
  color: $dark-orange-color;
}

.color-bright-orange {
  color: $bright-orange-color;
}


.border-color-orange {
  border-color: $orange-color;
}

.border-color-dark-orange {
  border-color: $dark-orange-color;
}


.bg-white {
  background: white;
}

.bg-blue {
  background: $blue-color;
}

.bg-light-blue {
  background: $light-blue-color;
}

.bg-dark {
  background: $dark-color;
}

.bg-green {
  background: $green-color;
}

.bg-orange {
  background-color: $orange-color;
}

.bg-dark-orange {
  background-color: $dark-orange-color;
}

.bg-black-blue {
  background: $black-blue-color;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
