
.small-icon {
  width: 28px;
}

.achievement-icon {
  position: relative;
}

.achievement-icon-badge {
  width: 110px;
}

.achievement-icon-image {
  width: 70px;
  position: absolute;
  left: 20px;
  top: 5px;
}
