@import "colors";

.very-big-icon {
  width: 80px;
}

.big-icon svg {
  width: 48px;
}

.small-icon svg {
  width: 28px;
}

.very-small-icon svg {
  width: 16px;
}

.orange-icon path {
  fill: $orange-color;
}

