
.bounty-header-info {
}

.start-bounty-panel {
  padding: 60px;
}

.restart-bounty-panel {
  padding: 60px;
}

.not-finished-bounty-panel {
  padding: 60px;
}

.bounty-link {
  text-decoration: underline !important;
  cursor: pointer;
}

.bounty-rewards-codes-panel {
  padding: 60px;
}
