@import "cards";
@import "colors";


.item-panel {
  padding-top: 30px;
  margin-bottom: 40px
}

.item-panel-group {
  @extend .card-1-static;

  background: white;
  padding: 50px;
  margin-bottom: 30px;
  border-left: solid 4px $blue-color;
}

.item-form-buttons {
  text-align: center;
}

.info-button {
  float: right;
  padding: 5px 8px !important;
  right: 13px;
  position: absolute;
  top: 20px;
}

.no-items-panel {
  padding-top: 60px;
}