@import 'cards';
@import "variables";


.navbar {
  @extend .card-2-static;

  @media screen and (min-width: map-get($screen-widths, 'xl')) {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  @media screen and (min-width: map-get($screen-widths, 'xxl')) {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}

.nav-link {
  display: inline-block !important;
}
