@import 'colors';
@import "components";


.level-card {
  margin: 20px;
  padding: 20px;
  position: relative;
}

.level-card-progress .progress {
  height: 10px !important;
}

.level-card-exp {
  text-align: right;
}

.level-card-current {
  border-color: $green-color;
  border-style: solid;
  border-width: 2px;
}

.level-card-icon {
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}


.settings-form-label {
  margin-bottom: 0;

}

.settings-form-text {
  display: block;
  margin-bottom: 10px;
}

.settings-form-input {
  @extend .form-input;
  margin-bottom: 10px;
}

.settings-button {
  width: 100%;
  margin: 10px 0 20px 0;
}
