@import "colors";
@import "mixins";
@import "variables";
@import "fonts";
@import "icons";


$header-height: 200px;
$image-size: 212px;


.tasks-header-bar {
  background-color: $blue-color;
  height: $header-height;
  width: 100%;
  position: absolute;
  left: 0;
}

.tasks-header {
  height: $header-height;
  position: relative;
  padding-top: 16px;
}

.tasks-header-info {
  margin-top: 30px;
}

.tasks-header-info-text {
  color: white;
  display: inline-block;
  padding-left: 30px;
}

.tasks-header-image {
  position: absolute;
  right: 60px;
  bottom: -60px;
  width: $image-size;
  height: $image-size;
}

.tasks-header-icon img {
  margin-top: -33px;
  width: 80px;
}

.tasks-header-progress {
  margin-top: 20px;

  margin-right: 340px;
  @media screen and (max-width: map-get($screen-widths, 'md')) {
    margin-right: 0px;
  }
}

.tasks-summary-bar {
  height: 80px;
  width: 100%;
  position: absolute;
  left: 0;
}

.tasks-summary {
  padding-top: 22px;
  height: 80px;
  width: 100%;
}

.task-cards {
  border-right: solid 1px #b2b2b3;
  padding-right: 100px;
  margin-right: 10px;
}

.task-card {
  @extend .small;
  padding: 10px 0;
}

.task-card a {
  @extend .dark-color-orange;
}

.task-card:nth-child(odd) {
  @include horizontal_gradient($orange-color);
}


.tasks-introduction {
  padding: 50px 0;
}

.tasks-achievements-introduction {
  padding: 50px 0;
}
