@import "../variables";

.blob {
  position: absolute;
  z-index: -100;
}

.blob-relative {
  position: relative !important;
}

.blob-front {
  z-index: 100 !important;
}

.blob img {
  position: absolute;
}

.blob span {
  position: absolute;
  line-height: 1.2;
}

.blob300 {
  top: 300px !important;

  @media screen and (max-width: map-get($screen-widths, 'sm')) {
    top: 150px !important;
  }
}
