@import "../colors";
@import "../variables";


.radio {
  display: block;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer;
  margin-bottom: 1px;
  width: fit-content;
}

.radio-inline {
  display: inline-block !important;
}

.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
  background-color: $light-blue-color;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio input:checked + .outer {
  border: 3px solid $blue-color;
}

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: $blue-color;
}

.radio .outer {
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  margin: 12px 9px 10px 10px;
  border: 3px solid $blue-color;
  border-radius: 50%;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: $blue-color;
  opacity: 0;
}

.radio-likert {
  padding-right: 0 !important;
  display: inline-block !important;
  position: relative;
}

.radio-likert-label {
  margin: 0 10px;
}

@media screen and (max-width: map-get($screen-widths, 'lg')) {
  .radio-likert {
    padding-right: 0 !important;
    display: block !important;
    line-height: 2;
    position: relative;

    .outer {
      margin: 5px 10px;
    }
  }

  .radio-likert-label {
    position: absolute;
    left: 60px;
  }

  .radio-likert-label.min {
    top: 1px;
  }

  .radio-likert-label.max {
    bottom: 5px;
  }
}

.radio-likert-value-label {
  position: absolute;
  width: 46px;
  top: 26px;
  left: 0;
  text-align: center;
}

.radio-other {
  width: auto !important;
  height: auto !important;
  opacity: inherit !important;
  display: inline-block;
}
